@{
    ViewBag.Title = "Contact yeni ";
}




<!-- Contact -->
Yeni ekleme alanı
<form action="/Home/Create" method="post" class="container">
    <h1>Login</h1>

    <label for="email"><b>id</b></label>
    <input type="text" placeholder="id" name="id" required>

    <label for="psw"><b>title</b></label>
    <input type="text" placeholder="title" name="title" required>

    <button type="submit" class="btn">Login</button>
</form>


