@using TheConference.Models.Class
@model List<Blog>

<div class="sidebar_categories">
    <div class="sidebar_categories_title">Categories</div>
    <ul class="categories_list">
        <li><a href="#">The Speakers</a></li>
        <li><a href="#">Tips & Tricks</a></li>
        <li><a href="#">Events & Lifestyle</a></li>
        <li><a href="#">Marketing</a></li>
        <li><a href="#">Uncategorized</a></li>
    </ul>
</div>